.caja{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: solid 2px blue;
}

.colorVerde{
    background-color: greenyellow;
}

.colorRojo{
    background-color: red;
}

.colorRosa{
    background-color: pink;
}