<!-- <router-outlet /> -->
<h1>FUNDAMENTOS ANGULAR</h1>

<!-- propiedades e interpolaciones -->
<section>
  <h2>propiedades e interpolacion en angular</h2>
  <p>las propiedades: variables que nosotros estructuramos en el TS</p>
  <p>la interpolacion: el uso de esas variables en nuestro HTML, de forma automatica</p>

  <!-- la interpolación de variables se hace con {{}} -->
  <p>Este es un bootcamp con la especialista {{especialista}}, el bootcamp tiene {{horasBootcamp}} horas.</p>

  <h3>Contenido Bootcamp</h3>

  <ul>
    <li>Primero {{contenidoBootcamp.tecnologia1}}</li>
    <li>Despues {{contenidoBootcamp.tecnologia2}}</li>
    <li>Actualmente estamos viendo {{contenidoBootcamp.tecnologia4}}</li>
  </ul>

  <p>El contenido de los productos van a ser {{objetoProducto.nombre}}, la cantidad del producto es
    {{objetoProducto.cantidad}} y el producto se encuentra vendido actualemnte</p>
</section>

<hr>

<!-- Enlace de datos -->
<section>
  <h2>Enlace de datos</h2>

  <h3>manejo de eventos</h3>
  <p>acciones que podemos ejecutar cuando hacemos algo en el navegador</p>

  <!-- ejemplo 1 (click)-->
  <button type="button" (click)="saludo()">click me</button>

  <!-- ejemplo 2 -->
  <div class="caja {{colorFondo}}" (click)="manejarClick()" (mouseover)="manejarMouseOver()"
    (mouseout)="manejarMouseOut()"></div>

  <h3>enlace de atributos</h3>
  <p>Se usa cuando necesitamos manipular atributos de nuestro html de forma condicional</p>

  <button type="button" [disabled]="!isLogged">Comprar</button>
</section>

<!-- 
{{Interpolación}}
(eventos)
[atributos condicionados]
-->

<!-- Control de flujo -->

<section>
  <h2>Control de flujo</h2>
  <p>Condicionales y ciclos</p>

  <h3>Condicionales -> if</h3>
  @if (isDelete) {
  <button type="button">Borrar producto</button>
  }@else {
  <button type="button">Modificar producto</button>
  <ul>
    <li>Productos</li>
    <li>Productos</li>
    <li>Productos</li>
    <li>Productos</li>
    <li>Productos</li>
  </ul>
  }

  <!-- @for (item of items; track $index) {} -->

  <h3>Condicional con directiva de angular</h3>

  <!-- Directiva ngIF -->
  <div *ngIf="isShowed ; else noDiv">
    <p>Este parrafo se muestra porque 'isShowed' es verdadero</p>
  </div>

  <ng-template #noDiv>
    <p>Este parrafo se muestra porque 'isShowed' es falso</p>
  </ng-template>

  <h3>Ciclo for</h3>
  <p>los productos en stock son:</p>

  <ol *ngFor="let producto of productos">
    <li>{{producto}}</li>
  </ol>
</section>